<%- include('partials/header.ejs'); -%> <!-- Include the header partial for consistent layout -->

  <div class="box" id="heading">
    <h1>
      <%= listTitle %> <!-- Display the list title dynamically -->
    </h1>
  </div>

  <div class="box">
    <% for(let item of listItems){ %> <!-- Loop through the list items and generate elements for each -->
      <div class="item">
        
        <!-- Form to delete an item when the checkbox is checked -->
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
        </form>

        <!-- Display the item title -->
        <p id="title<%=item.id%>">
          <%= item.title %>
        </p>

        <!-- Form for editing an item -->
        <form class="edit" action="/edit" method="post">

          <!-- Hidden input to pass the item ID for editing -->
          <input type="hidden" name="updatedItemId" value="<%= item.id %>">

          <!-- Text input for editing, initially hidden -->
          <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off" autofocus="true" hidden="true" maxlength="30"/>

          <!-- Submit button for confirming edits, initially hidden -->
          <button id="done<%=item.id%>" class="edit" type="submit" hidden>
            <img class="icon" src="/assets/icons/check-solid.svg" alt="tick image">
          </button>
        </form>
        
        <!-- Button to enable editing mode -->
        <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')">
          <img class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image">
        </button>

      </div>
    <% } %>

    <!-- Form to add a new item to the list -->
    <form class="item" action="/add" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" maxlength="30"/>
      <button class="add" type="submit" name="list" value="<%=listTitle %>">+</button>
    </form>

  </div>

  <script>
    /**
     * Handles the edit mode for a specific list item.
     * Hides the title and edit button, then shows the input and confirm button.
     * @param {string} id - The ID of the item being edited.
     */
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true);
      document.getElementById("edit" + id).setAttribute("hidden", true);
      document.getElementById("done" + id).removeAttribute("hidden");
      document.getElementById("input" + id).removeAttribute("hidden");
    }
  </script>

<%- include('partials/footer.ejs'); -%> <!-- Include the footer partial for consistent layout -->